<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdamsLair.WinForms" version="1.1.17" targetFramework="net452" />
  <package id="AdamsLair.WinForms.PopupControl" version="1.0.1" targetFramework="net452" />
  <package id="CheckboxList.Mvc.FB" version="1.0.0" targetFramework="net452" />
  <package id="Common.CheckComboBox" version="1.0.0" targetFramework="net452" />
  <package id="FontAwesome.Sharp" version="5.8.3" targetFramework="net452" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net40" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net40" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net40" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net40" />
</packages>